<div class="row">
    <div class="col s2"></div>
    <div class="card" style="width: 18rem;">
        <h3 class="card-header">
            {{comics.title}}
            {{comics.author}}
        </h3>
        <h5 class="card-panel"> {{body}}</h5>
        <div class="card-body" id="card-img" alt="img" src="{{comic.image}}">
            {{comics.image}}
        </div>
    </div>
</div>
<div class="row">
<div class="col s2"></div>
    <form action="/comment/{{comics._id}}" method="POST" class="card-panel">
        <h3>Comments</h3>
        <div class="row">
            <div class="input-field">
                <i class="material-icons prefitx">perm-id</i>
                <input class="validate active" type="text" placeholder="name">
            </div>
            <div class="input-field">
                <i class="material-icons prefitx">Comment</i>
                <textarea class="validate active" type="text" placeholder="Comment" id="icon-telephone"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <center><input class="btn topnav add-comment-btn" type="submit" value="Submit"></center>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col s8 left-align">
        <h2>Comments</h2>
        {{#if  Comics.comment}}
        {{#each Comics.comment}}
        <div class="card">
            <p id="nameComment">{{name}}</p>
            <p>{{body}}</p>
        </div>
        {{/each}}
        {{else}}
        <p>No Comments</p>
        {{/if}}
    </div>

</div>